<div class="container" id="main-top">
	<div id="overlay1"> </div>
	<div class="col-md-12 col-sm-12">
	<h1 class="comp-name">SeeThru</h1>
	<h3 class="comp-phrase">Reclaim your health care</h3>
</div>
</div>



	<div class="container">

		<div class="row">
				<h3 class="company">What We Do</h3>
				<p class="description">
					SeeThru brings you the same consumer experience we all have in every other industry. It’s just like finding the best headphones at the lowest price or seamlessly ordering dinner to your doorstep with the ease of knowing quality and cost of your meal before you eat. If we had more information, we’d spend less money on our healthcare and get better service.</p>

					<p class="description">
					We believe you can get more and spend less through our cash based network of providers. Insurance should cover the catastrophes, for everything else there’s SeeThru. Often, a simple cash price can be cheaper than your copay or coinsurance. It’s time to reclaim your healthcare as an educated consumer</p>
				</div>

																	<div class="underline"></div>

				<div class="row">
					<div class="col-md-6">
						<h2 class="address">Problem</h2>
						<p class="description">
						Health care costs and quality are notoriously opaque. We pay high Healthcare is the only industry not driven by consumer choice. At present, consumers of U.S. healthcare don’t have the tools to make value-based decisions.
						</p>
					</div>

					<div class="col-md-6">
						<h2 class="address">Solution</h2>
						<p class="description">
						SeeThru provides a platform that makes healthcare pricing and quality transparent. Using our proprietary approach, consumers will search, book, and pay for the care they need with clarity on the price and quality of their provider. Consumers will review their care and have access to their health records. Providers will receive payment instantly, dramatically shortening billing cycles and reducing administrative expenses. 
						</p>
					</div>
				</div>
	</div>

					<div class="section">
					<div id="overlay"> </div>
					<div class="col-md-12 col-sm-12">
					<h2 class="task1">TRANSPARENCY & VALUE</h2>
					</div>
					</div>

					<div class="container">
					<div class="row">
						<p class="description">
						Last year Americans spent over $338B on out-of-pocket health costs and this number is increasing by 5% annually.It no longer makes sense to spend so much on healthcare and get very little in return.</p>

							<div class="col-md-4">
								<h3 class="skill">Know More</h3>
								<p class="description">
									Over 75% of healthcare consumers say it's important or very important that they know their costs before treatment, and 53 percent want to discuss financing options before care.
									</p>
							</div>

							<div class="col-md-4">
								<h3 class="skill">Spend Less</h3>
								<p class="description">
									People at all income brackets worry about covering the cost of care. 42% percent are concerned about their ability to pay out-of-pocket medical bills in the next two years.</p>
							</div>

							<div class="col-md-4">
								<h3 class="skill">Feel Better</h3>
								<p class="description">
									According to The Commonwealth Fund, at least 82% of people who have compared healthcare prices say they will do so again.</p>
							</div>
					</div>
				</div>

				<div class="section2">
					<div id="overlay"> 
						<div class="col-md-12 col-sm-12 col-md-offset-2">
							<h1 class="task2">Your Home for Healthcare</h1>
						</div>
					</div>
					</div>

					<div class="container">
						<div class="row">
							<h3 class="session">Join the movement to reclaim your healthcare</h3>
							<p class="description">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat.</p>

								<p class="description">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>

								<div class="col-md-3 col-md-offset-5 col-sm-3 col-sm-offset-5">

										<button type="button" class="btn btn-primary btn-md" id="button">STAY IN TOUCH</button>
									</div>
						</div>
																						<div class="underline"></div>

					</div>




<div class="modal fade" id="seethru-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  			<div class="modal-dialog" role="document">
   			 <div class="modal-content">
      		<div class="modal-header">
       		 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h1 class="modal-title" id="myModalLabel">SeeThru</h1>
      		</div>


      			<div class="modal-body">
      				<h3 class="modal-phrase">Sign up to save on your healthcare! </h3>
      				<br>
      				<button type="button" class="btn btn-primary btn-md" id="button">STAY IN TOUCH</button>
      			</div>
			    	  
			    </div>
			  </div>
			</div>












