<div class="container" id="main-top">
	<div id="overlay1"> </div>
	<div class="col-md-12 col-sm-12">
		<%= image_tag "SeeThrulogo2.png", class: "logo-pic" %>
	<h3 class="comp-phrase">Reclaim your healthcare</h3>
</div>
</div>


	<div class="container">
				<div class="row">

					<h3 class="company">What We Do</h3>
						<p class="description">
							SeeThru brings you the same consumer experience we all have in every other industry. It’s just like finding the best headphones at the lowest price or seamlessly ordering dinner to your doorstep with the ease of knowing quality and cost of your meal before you eat. If we had more information, we’d spend less money on our healthcare and get better service.</p>

							<p class="description">
							We believe you can get more and spend less through our cash based network of providers. Insurance should cover the catastrophes, for everything else there’s SeeThru. Often, a simple cash price can be cheaper than your copay or coinsurance. It’s time to reclaim your healthcare as an educated consumer</p>

							<br>
							<br>
							<div class="underline"></div>
							<br>
							<br>

						<div class="col-md-4 col-sm-4">
								<h3 class="skill">Know More</h3>
								<p class="description">
									Over 75% of healthcare consumers say it's important or very important that they know their costs before treatment, and 53 percent want to discuss financing options before care.
									</p>
							</div>

							<div class="col-md-4 col-sm-4">
								<h3 class="skill">Spend Less</h3>
								<p class="description">
									People at all income brackets worry about covering the cost of care. 42% are concerned about their ability to pay out-of-pocket medical bills in the next two years.</p>
							</div>

							<div class="col-md-4 col-sm-4">
								<h3 class="skill">Feel Better</h3>
								<p class="description">
									According to The Commonwealth Fund, at least 82% of people who have compared healthcare prices say they will do so again.</p>
							</div>
					
				</div>

								

	</div>

				<div class="section">
					<div id="overlay"> </div>
					<div class="col-md-12 col-sm-12">
					<h2 class="task1">Your Home for Healthcare</h2>
					</div>
				</div>

				<div class="container">
					<div class="row">

							<p class="description">
						Last year Americans spent over $338 BILLION on out-of-pocket health costs and this number is increasing by 5% annually. It no longer makes sense to spend so much on healthcare and get very little in return.</p>

						<div class="col-md-6">
								<h2 class="address">Problem</h2>
								<p class="description">
								Health care costs and quality are notoriously opaque. Healthcare is the only industry not driven by consumer choice. Today, consumers of U.S. healthcare don’t have the tools to make value-based decisions. </p>

								<p class="description">In addition, providers never know how much and when they will get paid for their services. It can often take 90-120 days before receiving compensation. Working with insurance companies and collection agencies is a true pain point and financial burden.</p>
								
							</div>

						<div class="col-md-6">
							<h2 class="address">Solution</h2>
							<p class="description">
							SeeThru provides a platform that makes healthcare pricing and quality transparent. Using our proprietary approach, patients will search, book, and pay for the care they need with clarity and ease. Consumers will review their care and own their health records.</p> 

							<p class="description"> SeeThru allows healthcare providers to receive payment instantly - at a price they set - dramatically shortening billing cycles and reducing administrative expenses. </p>
							
						</div>
						
					</div>
				</div>


		<br>
		<br>
		<div class="underline"></div>
		<br>
		<br>


<div class="container">
	<div class="row">
		<div class="panel-over">
			<div class="heading-panel">Sign up now to learn more and help reclaim healthcare </div>
				<div class="col-md-2 col-sm-2" id="movement">
					<h3 class="movement">JOIN THE MOVEMENT</h3>
					<button type="submit" class="btn btn-primary" id="form-btn">Lets Go!</button>
				</div>
			
				<div class="col-md-3 col-sm-3">
				  <div class="form-group">
				    <input type="name" class="form-control" id="exampleInputname1" aria-describedby="emailHelp" placeholder="Name">
				    
				  </div>
				</div>
				<div class="col-md-3 col-sm-3">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputemail1" placeholder="Email">
				    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				  </div>
				</div>
				<div class="col-md-3 col-sm-3">
				  <div class="form-group">
				    <input type="email" class="form-control" id="zip-code" placeholder="Enter Zip Code">
				  </div>
				</div>
				  <div class="panel-foot">
				</div>
		</div>
	</div>
</div>



<!--

				<div class="modal fade" id="seethru-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					 <div class="modal-content">
					<div class="modal-header">
						 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h1 class="modal-title" id="myModalLabel"><font color= #1A237E>SEE</font color><font color= #03A9F4>THRU</font color></h1>
					</div>

						<div class="modal-body">
							<h3 class="modal-phrase">Sign up to save on your healthcare! </h3>
							<br>
							<button type="button" class="btn btn-primary btn-md" id="button">STAY IN TOUCH</button>
						</div>
				 	  
				  </div>
				</div>
			</div>
-->


