<div class="container" id="main-top">
	<div id="overlay1"> </div>
	<div class="col-md-12 col-sm-12">
	<h1 class="comp-name">SeeThru</h1>
	<h3 class="comp-phrase">Reclaim your health care</h3>
</div>
</div>

	<div class="container">

		<div class="row">
				<h3 class="company">What We Do</h3>
				<p class="description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p class="description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>

																	<div class="underline"></div>

				<div class="row">
					<div class="col-md-6">
						<h2 class="address">Problem</h2>
						<p class="prob-descript">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>

					<div class="col-md-6">
						<h2 class="address">Solution</h2>
						<p class="prob-descript">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
	</div>

					<div class="section">
					<div id="overlay"> </div>
					<div class="col-md-7 col-sm-8 col-md-offset-2 col-sm-offset-1">
					<h2 class="task1">OUR EXPERTS</h2>
					</div>
					</div>

					<div class="container">
					<div class="row">
						<p class="description1">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.</p>

							<div class="col-md-4">
								<h3 class="skill">Experienced</h3>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat.</p>
							</div>

							<div class="col-md-4">
								<h3 class="skill">Qualified</h3>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat.</p>
							</div>

							<div class="col-md-4">
								<h3 class="skill">Vetted</h3>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat.</p>
							</div>
					</div>
				</div>

				<div class="section2">
					<div id="overlay"> 
						<div class="col-md-7 col-sm-12 col-md-offset-2">
							<h1 class="task2">HOW IT WORKS</h1>
						</div>
					</div>
					</div>

					<div class="container">
						<div class="row">
							<h3 class="session"> SCHEDULE YOUR SESSION</h3>
							<p class="description1">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat.</p>

								<p class="description2">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>

								<div class="col-md-3 col-md-offset-5 col-sm-3 col-sm-offset-5">

										<button type="button" class="btn btn-primary btn-md" id="button">STAY IN TOUCH</button>
									</div>
						</div>
																						<div class="underline"></div>

					</div>















