// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#main-top{
	height: 500px;
	width: 100%;
	max-width: 100%;
	background-image: url(image-path('iceshape.jpg'));
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	padding: 0px;
}


#overlay1{
    position: static; /* Sit on top of the page content */
    /*display: none;  Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 500px; /* Full height (cover the whole page) */
    top: 450px; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other*/ 
    margin-bottom: -465px;

}


.logo-pic{
	width: 70%;
	height: auto;
	margin-top: 210px;
	text-align: center;
	margin-left: 17%;

}


.comp-phrase{
		color: white;
    text-align: center;
    font-size: 3vw;
    font-weight: 200;
    font-style: italic;
}
	
.company{
	text-align: center;
	font-size: 2vw;
	color: #00AEED;
	margin-top: 75px;
}

.subject-text{
	text-align: center;
	font-size: 2vw;
	color: #004681;
	margin-top: 75px;

}


.underline{
	height: 1px;
	width: 80%;
	border: solid 1px #ddd;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}


.description{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	color:  #4c4e4f;
	font-size: 16px;
	line-height: 28px;

}



.address{
	text-align: center;
	color: #00AEED;
}


#overlay{
    position: static; /* Sit on top of the page content */
    /*display: none;  Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 300px; /* Full height (cover the whole page) */
    top: 450px; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other*/ 

}

.section{
	margin-top: 50px;
	height: 300px;
	width: 100%;
	background-image: url(image-path('seethrumarket.jpg'));
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: 100% 100%;

}

.task1{
		color: white;
		text-align: center;
   	margin-top: -150px;
   	font-size: 5vw;
    
}

.skill{
	color: #00AEED;
	text-align: center;
}



.session{
	color: #1A237E;
	text-align: center;
	margin-top: 50px;
}

.section3{
	margin-top: 50px;
	height: 300px;
	width: 100%;
	background-image: url(image-path('yoga.jpg'));
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: 100% 100%;

}

#contain3{
	margin-top: -235px;
	margin-bottom: 100px;

}

.panel-over{
	border: solid 1px #1A237E;
	border-radius: 0px;
	
}

.heading-panel{
	background-color: #004681;
	text-align: center;
	font-size: 27px;
	color: white;
	height: 45px;
	
}

.form-group{
	margin-top: 15px;
}

#form-btn{
	background-color: #004681;
	margin-top: 15px;
	border-radius: 0px;

}

#button{
	background-color: #1A237E;
	vertical-align: center;
	margin-bottom: 60px;
	border-radius: 0px;

}



.modal-title{
	text-align: center;
	color: #1A237E;
}


.modal-phrase{
	text-align: center;
	color: #4c4e4f;
	font-size: 18px;
}

.modal-content{
	height: 265px;
}


.panel-foot{
	height: 150px;
	background-color: #FAFAFA;
}

#movement{
	text-align: center;
	color: #004681;

}
















